*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  overflow-x: hidden;
  color: goldenrod;
  background-color: #000000;
}

.nav {
  display: flex;
}

.nav__list {
  margin: 0 0 0 auto;
  display: flex;
  gap: 2em;
}

ul[role="list"] {
  list-style: none;
}

header {
  padding: 1.5em;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  position: relative;
}

a {
  text-decoration: none;
  color:orangered;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: capitalize;
}

a:hover {
  color: rgb(38, 34, 34);
  text-decoration: underline;
}

.hero {
  padding-block-start: 8em;
  flex: 1;
}
.hero__heading {
  font-size: 3.5rem;
  color: #f2ecec;
  z-index: 1;
  line-height: 1;
}

span {
  color: rgb(102, 202, 227);
}

.hero__para{
  color: #555;
  padding-top: 1em;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.cta {
  background: #212121;
  padding: 1.3em 1.8em;

  font-weight: bold;
  font-size: 1.1rem;
  color: #e3a1a1;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.cta:hover {
  background: hsl(0, 1%, 25%);
}
.images {
  align-self: flex-end;
  flex-shrink: 0;
  padding-top: 9rem;
  position: absolute;
  bottom: 0;
  height: 80%;
  right: 100px;
}
.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.boy {
  width: 200px;
  height: 150px;
}
.shape {
  bottom: 40px;
}
.boy:hover {
  bottom: 5%;
}

.row {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
}
.bottomcontainer,.bottomcontainer div{
  padding-top: 0;
}

.column-2a {
  float: left;
  width: 45%;
  padding: 40px;
  padding-left:70px;
  padding-right: 70px;
  padding-bottom:60px;
  height:450px;
  margin:30px;
  margin-right:30px;
  margin-bottom: 40px;
  background-color:white;
}
.gap1{
  gap:1em;
}
.phone {
  color: darkkhaki;
}
.edu{
  color: #e3a1a1;
}
.head{
  color: cadetblue;
}
.move{
  color: darkslategrey;
}
.pro{
  color: orange;
}
.data{
  color: aliceblue;
}